.show {
  display: block;
}

.hidden {
  display: none;
}

.pf-ft-list {
  display: none;
}

.feature-list {
  opacity: 50%;
}

.feature-list:hover {
  opacity: 100%;
}

.feature-list:hover .pf-ft-list {
  display: block;
  opacity: 100%;
}