.navbar {
  display: flex;
  height: 60px;
  background-color: gray;
}

.navbar > div:first-child {
  height: 40px;
  width: 80px;
  margin-left: 10px;
  justify-self: flex-end;
}

#menubutton-2 {
  height: 100%;
  width: 100%;
}

#menubutton-2:focus {
  outline: none;
}

#menubutton-2:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
}
#menu-1 button:hover {cursor: pointer;}