.navbar {
  display: flex;
  height: 50px;
  background-color: gray;
}

.navbar > div:first-child {
  height: 40px;
  width: 80px;
  margin: 5px 0;
  margin-left: 10px;
}

#menubutton-2 {
  height: 100%;
  width: 100%;
}

#menubutton-2:hover {cursor: pointer;}
#menu-1 button:hover {cursor: pointer;}